.main{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.aboutintro{
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.maintitle{
    padding: 0 !important;
    text-align: left;
}