.main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 80vh;
}
.aboutintro{
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.maintitle{
    padding: 0 !important;
    text-align: left;
    text-wrap: nowrap;
    word-break: normal;
    word-wrap: break-word;
    display: flex;
    flex-wrap: wrap;
}
@media screen and (max-width: 576px) {
    .aboutintro{
        padding: 2vh;
    }
}