.container {
    justify-content: center;
}

.cardimg {
    height: 1vh;
    object-fit: cover;
    background: url("../assets/gradient.png");
    background-position: center;
}

.cardbody {
    flex-direction: column;
    justify-content: space-between;
}

.button {
    display: flex;
    max-width: fit-content;
}

.displaymain {
    background-clip: text !important;
    -webkit-background-clip: text !important;
    color: transparent;
    background: #7F7FD5;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.card{
    max-width: 14rem;
}