@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Dancing+Script:wght@400..700&display=swap');

* {
  box-sizing: border-box;
}

#logo {
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  color: var(--bs-light);
  background: #56CCF2;
  font-size: 4vh;
  background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);
  background: linear-gradient(to right, #2F80ED, #56CCF2);
}

#root {
  padding-top: 25vh;
  align-items: center !important;
  justify-content: center !important;
  display: flex;
}

.logo {
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  color: var(--bs-light);
  background: #56CCF2;
  background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);
  background: linear-gradient(to right, #2F80ED, #56CCF2);
}
@media screen and (max-width: 2000px) {
  .display-4{
    font-size: 7vh !important ;
    align-items: first baseline !important;
    text-align-last: left !important;
  }
}
.navbar-toggler{
  color: #2F80ED !important;
}
@media screen and (max-width: 576px) {
  header main section{
    padding: 10vh;
    justify-content: center;
    align-items: center;
  }
  .display-4, .logo, #logo{
    font-size: 5vh !important;
  }
  #root{
    padding-top: 20vh;
  }
  .buttons{
    padding: 1vh !important;
    flex-direction: row !important;
  }
  .buttons button, .buttons button span{
    display: flex;
    flex-shrink: 1;
    flex-direction: row;
    font-size: x-small;
    justify-content: flex-start;
  }
}