@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Dancing+Script:wght@400..700&display=swap');

* {
  box-sizing: border-box;
}

#logo {
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  font-size: 4vh;
  background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);
  background: linear-gradient(to right, #2F80ED, #56CCF2);
  -webkit-background-clip: text !important;
  background-clip: text !important;
  color: transparent !important;  
  border: 0.1rem solid #56CCF2;
}
#logo:hover{
  -webkit-background-clip: none !important;
  background-clip: unset !important;
  color: var(--bs-light) !important;
}
#root {
  padding-top: 25vh;
  align-items: center !important;
  justify-content: center !important;
  display: flex;
  flex-direction: column;
}

.logo {
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  background: #56CCF2;
  background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);
  background: linear-gradient(to right, #2F80ED, #56CCF2);
  font-size: 50px !important;
  -webkit-background-clip: text !important;
  background-clip: text !important;
  color: transparent !important;
}

@media screen and (max-width: 2000px) {
  .display-4 {
    font-size: 7vh !important;
    align-items: first baseline !important;
    text-align-last: left !important;
  }
}

.navbar-toggler {
  color: #2F80ED !important;
}

@media screen and (max-width: 576px) {
  header main section {
    padding: 10vh;
    justify-content: center;
    align-items: center;
  }

  .display-4,
  .logo,
  #logo {
    font-size: 5vh !important;
  }

  .display-4 {
    text-align: center;
    align-items: center;
    display: flex;
  }

  #root {
    padding-top: 20vh;

  }

  .buttons {
    padding: 1vh !important;
    flex-direction: row !important;
  }

  .buttons button,
  .buttons button span {
    display: flex;
    flex-shrink: 1;
    flex-direction: row;
    justify-content: flex-start;
  }
}

.mainelements {
  display: flex;
  flex-direction: row;
}

.sphere {
  display: flex;
  position: absolute;
  z-index: -1;
  left: 50%;
  justify-self: center;
  align-self: center;
  translate: -50%;
  bottom: 0;
  top: 100vh;
  max-width: 70vh !important;
  aspect-ratio: 1;
}

.card {
  background: transparent !important;
  backdrop-filter: blur(3vh);
  justify-content: space-between !important;
  display: flex !important;
}

.nav {
  max-width: 100vw !important;
}

@media screen and (max-width: 900px) {
  .sphere {
    scale: 0.3;
    top: 130%;
  }
}

.card-body-1 {
  display: flex !important;
  flex-direction: column !important;
  flex-shrink: 1 !important;
  max-height: 4rem;
  display: flex;
  flex-direction: row !important;
  justify-content: center;
}

.card-body-1 a,
.card-body-1 div {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.display-1 {
  background-clip: text !important;
  -webkit-background-clip: text !important;
  color: transparent;
  background: #7F7FD5;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  font-weight: normal;
}

.cardimg {
  /* background: #7F7FD5; */
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5) !important;
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5) !important;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.material-symbols-outlined {
  font-size: 0.8rem;
}

.row {
  justify-content: center;
}

/* .d-flex{
  flex-direction: column;
}
.nav, nav{
flex-direction: row !important;
} */
.span-count {
  flex: 0.7;
}

.cardbdy {
  flex-direction: column;
}

.mybdg {
  position: absolute !important;
  right: 2rem;
}

.cartnav {
  position: relative;
}

.image-me {
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  aspect-ratio: 1 !important;
  max-width: 80% !important;
  scale: 0.7;
}

svg {
  scale: 1.9;
}

.imgcol {
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}

.bi-github:hover {
  color: #171515;
  scale: 2.1;
}

.bi-linkedin:hover {
  color: #0072b1;
  scale: 2.1;
}

.bi {
  transition: color 0.2s ease;
  transition: scale 0.3s ease;
}

.toast {
  position: absolute !important;
  bottom: -60vh;
}
.btn-primary{
  color: var(--bs-light) !important ;
}
ul .btn-primary{
  color: var(--bs-primary) !important;
}
ul .btn-primary:hover{
  color: var(--bs-light) !important;
}
.display-1{
  font-weight: 400 !important;
  line-height: 4cap !important;
}